<!-- 
<h2><b>Educational Background</b></h2>

<table style="font-family:verdana">
  <colgroup></colgroup>

  <tr>
    <td>
      Bachelor of Science in Information Technology
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>2020-2021</b><br />
      Holy Angel University <br />
      Angeles City, Pampanga
    </td>
  </tr>
  <br />
  <tr>
    <td>
      Secondary Education &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <b>2015-2020</b><br />
      Holy Angel University <br />
      Angeles City, Pampanga
    </td>
  </tr>
  <br />
  <tr>
    <td>
      Primary Education &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;<b>2009-2015</b><br />
      Dr. Clemente N. Dayrit Sr. <br />
      Elementary School <br />
      Angeles City, Pampanga
    </td>
  </tr>
</table>

<hr />
-->
