<br> <br>


<div class="col-md text-md-center pb-2 pb-md-0">

<div class="card">
<h2 class="card-header">References</h2>
<div class="card-body">
<div class="card border-light mb-3">
<br />

<p style="font-family:verdana">
  <u><strong>Dr. Joseph Esquivel</strong></u>
</p>
<p style="font-family:verdana">
  jesquivel@hau.edu.ph <br />
  College Professor
</p>
<br />

<p style="font-family:verdana">
  <u><strong>Dr. Alma Theresa D. Manaloto</strong></u>
</p>
<p style="font-family:verdana">
  atmanaloto@hau.edu.ph<br />
  College Professor
</p>
<br />

<p style="font-family:verdana">
  <u><strong>Ms. Every M. Chua</strong></u>
</p>
<p style="font-family:verdana">
  echua@hau.edu.ph<br />
  College Professor
</p>
<br />
</div>
</div>

</div>

</div>
